html, body {
    margin: 0;
    padding: 0;
    background-color: #050b14;
}

/* Canvas de estrellas */
#starsCanvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
}

/* Todo contenido encima */
#main-content {
    position: relative;
    z-index: 1;
}    

