
body, html {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    background: linear-gradient(to bottom, #000000, #0710b791); 
    overflow-x: hidden; 
    min-height: 100%;    
}

body {
    padding-top: 0; 
    height: 100%;
}

.content {
    position: relative;
    z-index: 20;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 1.2em;
    max-width: 800px;
    line-height: 1.5;
}

.nav-tabs {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    z-index: 100; 
    display: flex; 
    align-items: flex-end; 
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.292);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 0; 
    border-top: none; 
}

.nav-tabs .nav-link {
    color: #ffffff; 
    text-shadow: 0 0 5px rgba(0, 204, 255, 0.5); 
    background-color: transparent !important; 
    border: none;
    border-radius: 0;
    border-color: transparent !important; 
    margin: 0 10px; 
    position: relative;
}

.nav-tabs .nav-link:hover {
    color: #00ccff; 
    border-color: #00ccff !important; 
    text-shadow: 0 0 8px #00ccff; 
}

.nav-tabs .nav-link.active {
    color: #00ccff !important; 
    font-weight: bold;
}
.nav-tabs .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #00ccff;
    box-shadow: 0 0 8px #00ccff;
    transition: width 0.3s ease;
}
.nav-tabs .nav-link.active::after {
    width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  .star,
  .shooting-star,
  h1 {
    animation: none !important;
  }
}

h1 {
    font-size: 3.5em; 
    margin-bottom: 20px; 
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 5px; 
    color: #fff; 
    text-shadow: 
        0 0 7px #00ccff, 0 0 10px #00ccff, 0 0 21px #00ccff,  
        0 0 42px #00aaff, 0 0 82px #00aaff, 0 0 92px #0077cc,  
        0 0 102px #0077cc, 0 0 151px #0077cc;
    animation: neonFlicker 1.5s ease-in-out infinite alternate;
}

h2 {
    font-size: 2.5em;
    color: #fff;
    text-shadow: 
        0 0 5px #ff00ff78, 0 0 10px #ff00ff7c, 0 0 20px #ff00ff80;
    margin-top: 40px;
    margin-bottom: 20px;
}

.star {
    position: absolute;
    background-color: #ffffff; 
    border-radius: 50%;
    box-shadow: 
        0 0 1px #00ccff, 0 0 4px #00ccff, 0 0 8px rgba(0, 204, 255, 0.5); 
    filter: brightness(200%) drop-shadow(0 0 2px #00ccff); 
    opacity: 0;
    animation: twinkle 4s infinite ease-in-out;
    z-index: 1; 
    isolation: isolate; 
    mix-blend-mode: screen; 
}

.shooting-star {
    position: absolute;
    width: 2px;  
    height: 2px; 
    background-color: #00ccff; 
    box-shadow: none; 
    filter: brightness(250%) drop-shadow(0 0 2px #00ccff); 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    transform-origin: 0 0; 
    z-index: 5; 
    isolation: isolate; 
    animation: tl_br 12s infinite linear;
}

/* ---------------------------------- */
/* ESTRELLAS (ELEMENTOS DE FONDO) */
/* ---------------------------------- */


.bg-twinkle {
    animation: twinkle 1s ease-in-out infinite alternate;
}


.shooting-star-tl_br, .shooting-star-tr_bl, 
.shooting-star-bl_tr, .shooting-star-br_tl {
    animation: tl_br 12s linear infinite; 
}


/* ********************************************************* */
/* CLASE DE CONTROL: PAUSA DE ANIMACIONES */
/* ********************************************************* */

/* PAUSA para el titileo */
.animations-paused .bg-twinkle {
    animation-play-state: paused !important; 
}

/* PAUSA para las fugaces */
.animations-paused .shooting-star-tl_br, 
.animations-paused .shooting-star-tr_bl, 
.animations-paused .shooting-star-bl_tr, 
.animations-paused .shooting-star-br_tl {
    animation-play-state: paused !important; 
}

.Bienbenida-section {
    position: relative; 
    margin-top: 0; 
    min-height: calc(100vh - 80px); 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    padding-bottom: 0; 
}

.Bienbenida-section h1
 {
    text-align: center;

}

/*  SOBRE MÍ */
.Sobre_mi-section {
    display: block; 
    text-align: center;
    margin-top: 300px; 
    padding-top: 50px; 
    padding-bottom: 50px; 
}

#main-content {
    width: 80%; 
    margin: 0 auto;
    z-index: 20; 
    position: relative; 
    padding-top: 50vh; 
    padding-bottom: 50vh; 
    min-height: auto; 
}



.Sobre_mi-section {
    display: block; 
    text-align: center;
}

.Sobre_mi-content-flex {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 50px; 
    max-width: 1000px; 
    margin: 40px auto; 
    text-align: left; 
}

.Sobre_mi-des {
    margin-top: 50px;
    flex-basis: 60%; 
    max-width: 60%;
}

.Sobre_mi-Foto {
    flex-basis: 30%; 
    max-width: 30%;
    display: flex;
    justify-content: center;
}
.profile-pic {
    width: 100%; 
    max-width: 250px; 
    height: auto; 
    border-radius: 5px; 
    object-fit: cover; 
    border: 3px solid #ff00ffa9; 
    box-shadow: 
        0 0 10px #6600ff9e, 
        0 0 20px #450b96b7, 
        0 0 40px rgba(255, 0, 255, 0.574); 
    
    transition: transform 0.3s ease-in-out;
}

.profile-pic:hover {
    transform: scale(1.05) rotate(2deg); 
}

/* MIS HABILIDADES */
.Habilidades-section {
    margin-top: 50px;
    background-color: #10101096; 
    min-height: 70vh; 
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
       border: 3px solid #ff00ff; 
    box-shadow: 
        0 0 10px #6600ff9e, 
        0 0 20px #450b96b7, 
        0 0 40px rgb(255, 0, 255); 
    
    transition: transform 0.3s ease-in-out;
}

.Habilidades-header {
    max-width: 800px;
    margin-bottom: 50px; 
}

.Habilidades-intro {
    font-size: 1.1em;
    color: #cccccc;
}


.Habilidades-titulo {
    color: #ff00ff; 
    text-shadow: 0 0 5px #ff00ffb8;
    margin-bottom: 25px;
    font-size: 1.8em;
}

/* ---------------------------------- */
/* ESTILOS DEL SLIDER INFINITO */
/* ---------------------------------- */

.Habilidades-carousel-container {
    width: 100%;
    max-width: 1200px; /* Ancho máximo para el slide */
    margin: 0 auto;
    padding: 20px 0;
}

.slider {
    overflow: hidden; 
    width: 100%;
    position: relative; 
}

.slide-track {
    display: flex;
    width: calc(var(--slide-width) * var(--slide-count) * 2);
    animation: scroll 40s linear infinite;
}




.slide {
    width: var(--slide-width);
    display: flex;
    justify-content: center;
    align-items: center;
}



:root {
    --slide-width: 300px;
    --slide-count: 5;
    --nav-height: 80px;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(
            calc(-1 * var(--slide-width) * var(--slide-count))
        );
    }
}


.slide img {
    height: 80px; 
    opacity: 0.7; 
    transition: transform 0.3s, opacity 0.3s;
    filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.4));
}

.slide img:hover {
    transform: scale(1.15); 
    opacity: 1;
    filter: drop-shadow(0 0 8px rgba(0, 204, 255, 0.8));
}

.proyectos-section{
    margin-top: 20%;
}
.proyectos-header, .proyectos-p{
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
}
.contacto-section{
    margin-top: 10%;
    padding: 80px 20px 40px;
}
contacto-header{
    margin-bottom: 60px;
}
.contacto-section {
    display: flex;
    justify-content: center;
    padding: 120px 20px;
}

.contacto-card {
    background: rgba(16, 16, 16, 0.85);
      border: 3px solid #ff00ffa9; 
    box-shadow: 
        0 0 10px #6600ff9e, 
        0 0 20px #450b96b7, 
        0 0 40px rgba(255, 0, 255, 0.574); 
    border-radius: 16px;
    padding: 50px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.contacto-subti {
    color: #cccccc;
    margin-bottom: 30px;
}

.contacto-formu input,
.contacto-formu textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 12px 14px;
    border-radius: 8px;
    border: none;
    background: #1a1a1a;
    color: #fff;
}

.contacto-formu input:focus,
.contacto-formu textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #0077cc;
}

.btn-contacto {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    background: #0077cc;
    border: none;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn-contacto:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 15px #0077cc;
}



.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    margin-top: -150px;
     padding-top: 20px;
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    text-align: center;
}


#footer-header h3,h4,p {
    color: #23282ace;
    text-shadow: 0 0 8px #00ccff79;
    margin-bottom: 10px;
}


#footer-body {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}


.footer-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    transition: transform 0.3s, text-shadow 0.3s;
}


.footer-link img {
    width: 24px;
    height: 24px;
    filter: drop-shadow(0 0 4px #00ccff);
}


.footer-link:hover {
    transform: translateY(-3px);
    text-shadow: 0 0 10px #00ccff;
}
